header {
<<<<<<< HEAD
    background-color: #FF0000;
    height: 70px;
    width: 100%;
}
=======
    background-color: #ff0000;
    height: 70px;
    width: 100%;
  }
>>>>>>> 6231c8d9e630a9cd1277680f1fc28fb822a23e60
